// Add Event
$add-event-button-bg: $base-button-bg;
$add-event-button-bg-hover: $base-button-bg-hover;
$add-event-button-color: $base-button-color;
$add-event-button-font-weight: $base-button-font-weight;
$add-event-button-selected-bg: $add-event-button-bg-hover;

$add-event-dropdown-bg: $color-white;
$add-event-dropdown-bg-hover: $color-light-grey;
$add-event-dropdown-color: $color-brand-secondary;
$add-event-dropdown-border-color: $color-light-grey;
$add-event-border-color: $color-light-grey;
